<h1 class="navbar-inner" style="width:900px; height:50px; padding-top:10px; margin-bottom:10px">Gettysburg Address Data</h1>
  <div style="margin-bottom:10px">
  <td><%= link_to 'Raw Data', raw_data_path, class: "btn btn-large btn-primary"  %></td>
  <td><%= link_to 'Stored Data', store_data_path, class: "btn btn-large btn-primary"  %></td>
  <td><%= link_to 'Top 100 List', top_100_path, class: "btn btn-large btn-primary"  %></td>
  <td><%= link_to 'Reset Database', destroy_path, class: "btn btn-large btn-primary"  %></td>
  </div>
  <table style="width:942px;">
  	<%= TopWord.raw_data %>
  </table>