<!DOCTYPE html>
<html>
<head>
  <title>Data Scraping</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	

<body class="container">
	<div class="container">
		<div class="navbar-inner">
			<% if user_signed_in? %>
    		Signed in as <%= current_user.email %>. Not you?
    		<%= link_to "Sign out", destroy_user_session_path, class: "btn btn-small btn-primary", :method => :delete %>
  		<% else %>
    		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-small btn-primary" %> or <%= link_to "sign in", new_user_session_path, class: "btn btn-small btn-primary" %>
  		<% end %>
		</div>
	</div>

<%= yield %>

</body>
</html>
